<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">我的路线</h3>
	</div>
	<div>
		<div class="form">
			<div class="form-group">
				<label data-for="busNo">路线名称</label> 
				<input type="text"
					data-required="true" readonly="readonly" class="form-control" name="name"
					placeholder="" v-model="name">
			</div>
			<div class="form-group">
				<label data-for="busNo">路线详细</label>
				<textarea style="width:600px;height:100px;" disabled="disabled" readonly="readonly">{{allStationName}}</textarea> 
				
			</div>
		</div>
	</div>
</div>