<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.bus.dao.BusMapper">
    <resultMap type="Bus" id="BusMap">
    </resultMap>
    
    
    <select id="queryList" parameterType="com.utils.common.JPage" resultMap="BusMap"> 	
    	
    	SELECT
			bus.*, driver.username driverName,line.`name` lineName
		FROM
			bus
		LEFT JOIN 
			driver 
		ON 
			bus.driverId = driver.id
		LEFT JOIN
			line
		ON
			bus.lineId = line.id
		LIMIT #{startNum},#{pageCount}
    	
    	
    </select>
    
    <select id="count" parameterType="String" resultType="Integer">
		SELECT
			COUNT(id)
		FROM
			bus
    </select>
    
    <select id="countByLineId" parameterType="com.cc.bus.dto.Bus" resultType="Integer">
        SELECT 
        	COUNT(*)
		FROM 
			bus
		WHERE 
			lineId = #{lineId}
    </select>
    

    
    
    <select id="getById" parameterType="com.cc.bus.dto.Bus" resultMap="BusMap">
		SELECT
			*
		FROM
			bus
		WHERE
			id=#{id}
    </select>
    
    
    
    <insert id="add" parameterType="com.cc.bus.dto.Bus" useGeneratedKeys="true">
        INSERT INTO 
        	bus 
        	(busNo,lisenceNo,driverId,maxPerson,lineId)
        VALUES 
        	(#{busNo},#{lisenceNo},#{driverId},#{maxPerson},#{lineId})
    </insert>
    
    <update id="update"  parameterType="com.cc.bus.dto.Bus">
        UPDATE 
        	bus 
        SET 
        	busNo=#{busNo},
            lisenceNo=#{lisenceNo},
            driverId=#{driverId},
            maxPerson=#{maxPerson},
            lineId=#{lineId}
        WHERE 
        	id=#{id}
    </update>
    
    <update id="removeDriver"  parameterType="Integer">
        UPDATE 
        	bus 
        SET 
            driverId=0
        WHERE 
        	driverId=#{driverId}
    </update>
    
    <update id="removeLine"  parameterType="Integer">
        UPDATE 
        	bus 
        SET 
            lineId=0
        WHERE 
        	lineId=#{lineId}
    </update>
    
    <delete id="delete">
    	DELETE FROM bus WHERE id=#{id}
    </delete>

</mapper>