<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.driver.dao.DriverMapper">
    <resultMap type="Driver" id="DriverMap">
    </resultMap>
    
    
    
    <select id="queryList" parameterType="com.utils.common.JPage" resultMap="DriverMap">
    	SELECT
			driver.*, bus.busNo,
			bus.lisenceNo,
			bus.maxPerson,
			line.`name` lineName,
			line.allStationName
		FROM
			driver
		LEFT JOIN bus ON driver.busId = bus.id
		LEFT JOIN line ON bus.lineId = line.id
    	LIMIT 
    		#{startNum},#{pageCount}
    	
    </select>
    
    
    <select id="queryNoBusList" parameterType="com.utils.common.JPage" resultMap="DriverMap">
    	SELECT
			*
		FROM
			driver
		WHERE
			busId is NULL 
		OR
			busId = 0			
    	LIMIT 
    		#{startNum},#{pageCount}
    </select>
    
    
    <select id="count" parameterType="String" resultType="Integer">
		SELECT
			COUNT(id)
		FROM
			driver
    </select>
    
    <select id="noBusCount" parameterType="String" resultType="Integer">
		SELECT
			COUNT(id)
		FROM
			driver
		WHERE
			busId is NULL 
		OR
			busId = 0		
    </select>
    
    
    <select id="getById" parameterType="com.cc.driver.dto.Driver" resultMap="DriverMap">
    
    	SELECT
			driver.*, bus.busNo,
			bus.lisenceNo,
			bus.maxPerson,
			line.`name` lineName,
			line.allStationName
		FROM
			driver
		LEFT JOIN bus ON driver.busId = bus.id
		LEFT JOIN line ON bus.lineId = line.id
		WHERE driver.id = #{id}
    
    </select>
    
    
    <select id="getByLoginId" parameterType="String" resultMap="DriverMap">
    	SELECT 
    		*
    	FROM 
    		driver 
   		WHERE
   			loginId=#{loginId}
    </select>
    
    
    <insert id="add" parameterType="com.cc.driver.dto.Driver" useGeneratedKeys="true">
        INSERT INTO 
        	driver 
        	(loginId,password,username,telephone,busId)
        VALUES 
        	(#{loginId},#{password},#{username},#{telephone},#{busId})
    </insert>
    
    
    <update id="updateInfo"  parameterType="com.cc.driver.dto.Driver">
        UPDATE 
        	driver 
        SET 
            username=#{username},
            telephone=#{telephone},
            busId=#{busId}
        WHERE 
        	id=#{id}
    </update>
    
    <update id="update"  parameterType="com.cc.driver.dto.Driver">
        UPDATE 
        	driver 
        SET 
            username=#{username},
            telephone=#{telephone},
            busId=#{busId},
            password=#{password}
        WHERE 
        	id=#{id}
    </update>
    
    <update id="removeBus"  parameterType="Integer">
       	UPDATE 
        	driver 
        SET 
            busId=0
        WHERE 
        	busId=#{busId}
    </update>
    
    <update id="updatePassword"  parameterType="com.cc.driver.dto.Driver">
        UPDATE 
        	driver 
        SET 
            password=#{password}
        WHERE 
        	id=#{id}
    </update>
    
	<delete id="delete">
    	DELETE FROM driver WHERE id=#{id}
    </delete>

</mapper>