<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.line.dao.LineMapper">
    <resultMap type="Line" id="LineMap">
    </resultMap>
    
    
    
    <select id="queryList" parameterType="com.utils.common.JPage" resultMap="LineMap">
    	SELECT 
    		* 
    	FROM 
    		line 
    	LIMIT #{startNum},#{pageCount}
    </select>
    
    <select id="count" parameterType="String" resultType="Integer">
		SELECT
			COUNT(id)
		FROM
			line
    </select>
    
    
    <select id="getById" parameterType="com.cc.line.dto.Line" resultMap="LineMap">
		SELECT
			*
		FROM
			line
		WHERE
			id=#{id}
    </select>
    
    
    
    <insert id="add" parameterType="com.cc.line.dto.Line" useGeneratedKeys="true">
        INSERT INTO 
        	line 
        	(name,allStationName)
        VALUES 
        	(#{name},#{allStationName})
    </insert>
    
    
    
    <update id="update"  parameterType="com.cc.line.dto.Line">
        UPDATE 
        	line 
        SET 
            name=#{name},
            allStationName=#{allStationName}
        WHERE 
        	id=#{id}
    </update>
    

    
	<delete id="delete">
    	DELETE FROM line WHERE id=#{id}
    </delete>

</mapper>