<div class="panel panel-success">
	<div class="panel-heading">
		<h3 class="panel-title">我的车辆</h3>
		<h3 id="recordHandler" class="panel-title" style="color:#337ab7;display: inline;top: 0;float: right;margin-top: -18px; cursor: pointer;">保养记录</h3>
	</div>
	<div>
		<div class="form">
			<div class="form-group">
				<label data-for="busNo">汽车编号</label> 
				<input type="text"
					data-required="true" readonly="readonly" class="form-control" name="name"
					placeholder="" v-model="busNo">
			</div>
			<div class="form-group">
				<label data-for="busNo">汽车牌照</label> 
				<input type="text"
					data-required="true" readonly="readonly" class="form-control" name="name"
					placeholder="" v-model="lisenceNo">
			</div>
		</div>
	</div>
</div>